<template>
  <h1 class='aw-{{kebabCase name}}'>hellow</h1>
</template>

<script>
  export default { 
    name:  aw-ui-{{kebabCase name}}
  }
</script>

<style lang='scss' scope>
  .aw-{{kebabCase name}}{ color:blue }
</style>